body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.text-output
{
    font-weight: bold;
    background-color: aqua;
}


.buttons
{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
}


.number-button
{
    flex-basis: 30%;
    font-weight: bold;
}
